Win32/Debug/*
Win32/Release/*
/Backup/*
*.sdf
*.htm
*.opensdf
MeshViewer/Debug/*
MeshViewer/Release/*
MeshViewer/*.jpg
MeshViewer/*.mtl
MeshViewer/*.obj
MeshViewer/*.m
MeshViewer/*.ply
MeshViewer/*.xyz
